<h2 class="ui center aligned medium icon header">
    <i class="circular orange balance scale icon"></i>
    Recipe: <%= @recipe.title%>
</h2>

<div class="ui center aligned medium icon header">
    <em>Description: <%= @recipe.description %></em>
    <em>Created by: <%= @creator.username %></em>
</div>