<h2 class="ui center aligned medium icon header">
    <i class="circular orange edit icon"></i>
    Edit your profile
</h2>

<div class="ui two column centered grid">
    <div class="column"></div>
        <div class="four column centered row">
            <%= render "users/users_form" %>
        </div>
    </div>
</div>
