<h2 class="ui center aligned medium icon header">
    <i class="circular olive edit icon"></i>
    Edit your profile
</h2>

<div class="twelve column centered row" id="user-form">
    <%= render "users/users_form" %>
</div>
  

