<% if obj.errors.any? %>
    <div class="ui danger message transition">
        <i class="close icon"></i>
        <div class="header">
            <%= pluralize(obj.errors.count, "error") %>
                prohibited this action:
            <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </div>
    </div>
<% end %>