<h2 class="ui center aligned medium icon header">
    <i class="circular orange book icon"></i>
    Wellcome to Cookbook
</h2>

<h3 class="ui center aligned large header">
     Cooking social media where you can create, store and share recipes with your friends.
</h3>

<h4 class="ui center aligned medium icon header">
    <i class="circular orange power off tiny icon"></i>
    Log in or sign up to continue
</h4>



<div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
        
        <%= render "sessions/login_form" %>
        
        <%= render "users/users_form" %>
        
    </div>
        
    <div class="ui vertical divider">
        Or
    </div>
</div>

