@import "semantic-ui";

.left-padding {
    padding-left: 20px;
}

.check-box-margin {
    margin-top: 2px;
    margin-right: 2px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-50 {
    margin-top: 50px;
}

a {
  color: olive;
  text-decoration: none;
}

a:hover {
  color: olive;
  font-weight: bold;
}

.width-70 {
    width: 70%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.show {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.height-250 {
    height: 270px;
}

#vertical-divider {
    @media (max-width: 767px) {
        display: none;
    }
}

#horizontal-divider {
    display: none;
    @media (max-width: 767px) {
        display: table;
    }
}

#dropdown-desktop .item {
    display: inline-block;
    @media (max-width: 767px) {
        display: flex;
    }
}

#user-form{
    @media (min-width: 767px) {
        margin: 0 150px;
    }
}

#results {
    margin-bottom: 45px;
}

#messages {
  height: 300px;
  overflow: auto;
}

#profile-picture-upload input{
    border: none;
    padding: 0;
    margin-bottom: 10px;
    width: auto;
}

#recipe-column {
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    padding-top: 35px;
    @media (max-width: 767px) {
        border-right: none;
    }
}

#friend-column {
    border-top: 1px solid grey;
    padding-top: 35px;
}

#my-recipes {
    border-top: 1px solid grey;
    padding-top: 25px;
}