@import "semantic-ui";

.left-padding {
    padding-left: 20px;
}

.check-box-margin {
    margin-top: 2px;
    margin-right: 2px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-50 {
    margin-top: 50px;
}

a {
  color: olive;
  text-decoration: none;
}

a:hover {
  color: olive;
  font-weight: bold;
}

.width-70 {
    width: 70%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.show {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.height-250 {
    height: 250px;
}

#vertical-divider {
    @media (max-width: 767px) {
        display: none;
    }
}

#horizontal-divider {
    display: none;
    @media (max-width: 767px) {
        display: table;
    }
}

#dropdown-desktop .item {
    display: inline-block;
    @media (max-width: 767px) {
        display: flex;
    }
}

#user-edit-desktop {
    @media (max-width: 767px) {
        display: none;
    }
}

#user-edit-mobile{
    display: none;
    @media (max-width: 767px) {
        display: block;
    }
}